{{!-- ACTOR SHEET --}}
{{#if (eq documentName 'Actor' ) }}
<nav class="sheet-tabs tabs primary" data-group="primary">
	{{#if limited }}
		<a class="item" data-tab="journal" ><i class="fas fa-book"></i> {{localize "T20.Notes"}}</a>
	{{else }}
		{{#if (eq actor.type 'npc' ) }}
			<a class="item" data-tab="statblock" ><i class="fas fa-clipboard-list"></i> {{localize "T20.Statblock"}}</a>
		{{/if}}

		{{#if (eq layout 'tabbed' ) }}
			<a class="item" data-tab="attributes"><i class="fa-solid fa-file-invoice"></i> {{localize "T20.Attributes"}}</a>
			<a class="item" data-tab="inventory"><i class="fa-solid fa-suitcase-rolling"></i> {{localize "T20.Inventory"}}</a>
			<a class="item" data-tab="powers"><i class="fa-solid fa-bolt"></i> {{localize "T20.Powers"}}</a>
			{{#if actor.maiorCirculo}}<a class="item" data-tab="spells"><i class="fa-solid fa-hurricane"></i> {{localize "T20.Spells"}}</a>{{/if}}
		{{else}}
			<a class="item" data-tab="attributes"><i class="fa-solid fa-file-invoice"></i> {{localize "T20.Sheet"}}</a>
		{{/if}}

		<a class="item" data-tab="journal"><i class="fas fa-book"></i> {{localize "T20.Journal"}}</a>
		<a class="item" data-tab="effects" ><i class="fas fa-bahai"></i> {{localize "T20.Effects"}}</a>
		{{#if (eq actor.type 'npc' ) }}
		<a class="item" id="parse-statblock" title="{{localize "T20.ParseStatblock"}}"><i class="fa-solid fa-diagram-predecessor"></i></a>
		{{/if}}
		<a class="item" id="configure-actor" title="{{localize "T20.Configure"}}"><i class="fas fa-cogs"></i></a>
	{{/if}}
	{{#if (eq layout 'vehicle' ) }}
		<a class="item active" data-tab="attributes"><i class="fa-solid fa-file-invoice"></i> {{localize "T20.Sheet"}}</a>
		<a class="item" data-tab="description">{{ localize "T20.Description" }}</a>
	{{/if}}
	{{#if (eq layout 'simple' ) }}
		<a class="item active" data-tab="attributes"><i class="fa-solid fa-file-invoice"></i> {{localize "T20.Sheet"}}</a>
		<a class="item" data-tab="description">{{ localize "T20.Description" }}</a>
	{{/if}}
</nav>
{{/if}}

{{!-- ITEM SHEETS --}}
{{#if (eq documentName 'Item' ) }}
{{!-- ITEM GERAL --}}
<nav class="sheet-tabs tabs" data-group="primary">
	<a class="item active" data-tab="description">{{ localize "T20.Description" }}</a>
	{{#unless (eq item.type 'tesouro' ) }}
		<a class="item" data-tab="details">{{ localize "T20.Details" }}</a>
	{{/unless}}
	{{#if (and isGM (eq item.type "classe") )}}
		<a class="item" data-tab="config">{{ localize "T20.Configure" }} (GM)</a>
	{{/if}}
	{{#if (eq item.type 'arma' ) }}
		<a class="item" data-tab="enhancements">{{ localize "T20.Enhancements" }}</a>
	{{/if}}
	<a class="item" data-tab="effects">{{localize "EFFECT.TabEffects"}}</a>
</nav>
{{/if }}

{{!-- CONFIGS SHEETS --}}
{{#if (eq documentName 'ActiveEffect' ) }}
{{!-- Active Effect Config --}}
<nav class="sheet-tabs tabs">
	<a class="item" data-tab="details"><i class="fas fa-book"></i> {{localize "EFFECT.TabDetails"}}</a>
	<a class="item" data-tab="duration"><i class="fas fa-clock"></i> {{localize "EFFECT.TabDuration"}}</a>
	<a class="item" data-tab="effects" ><i class="fas fa-cogs"></i> {{localize "EFFECT.TabEffects"}}</a>
</nav>
{{/if }}