<li class="attribute health flexcol">
	<h4 class="attribute-name box-title">{{ localize 'T20.HitPoints'}}</h4>
	<div class="attribute-value multiple flexrow">
		<input type="number" data-dtype="Number" placeholder="0" name="system.attributes.pv.value" value="{{system.attributes.pv.value}}" max="{{system.attributes.pv.max}}">
		<span class="sep">/</span>
		<input {{#if (and isCharacter autoCalcResources)}}disabled{{/if}} type="number" placeholder="0" name="system.attributes.pv.max" value="{{system.attributes.pv.max}}">
	</div>
	<footer class="attribute-footer">
		<input type="number" data-dtype="Number" placeholder="0" name="system.attributes.pv.temp" value="{{system.attributes.pv.temp}}" title="{{ localize 'T20.HealingTemp'}}">
	</footer>
</li>
{{#if isCharacter}}
<li class="attribute  flexcol" style="flex:0 0 45px;">
	<a class="config-button" data-action="level" title="{{localize 'T20.Edit'}}"><i class="fa-solid fa-gears" style="vertical-align: -webkit-baseline-middle;"></i></a>
	<a class="config-button" data-action="rest" title="{{localize 'T20.Rest'}}"><i class="fa-solid fa-bed" style="vertical-align: -webkit-baseline-middle;"></i></a>
</li>
{{/if}}
<li class="attribute mana flexcol">
	<h4 class="attribute-name box-title">{{ localize 'T20.ManaPoints'}}</h4>
	<div class="attribute-value multiple flexrow">
		<input type="number" data-dtype="Number" placeholder="0" name="system.attributes.pm.value" value="{{system.attributes.pm.value}}" max="{{system.attributes.pm.max}}">
		<span class="sep">/</span>
		<input {{#if (and isCharacter autoCalcResources)}}disabled{{/if}} type="number" placeholder="0" name="system.attributes.pm.max" value="{{system.attributes.pm.max}}">
	</div>
	<footer class="attribute-footer">
		<input type="number" data-dtype="Number" placeholder="0" name="system.attributes.pm.temp" value="{{system.attributes.pm.temp}}" title="{{ localize 'T20.ManaTemp'}}">
	</footer>
</li>
