{{#if showResources}}
<ul class="attributes flexrow">
	<li class="attribute flexcargas">
		<h4 class="attribute-name box-title-arcana">Carga Arcana</h4>
		<div class="attribute-value multiple flexrow">

			<button type="button" class="btn-decrement-arcana" onclick="alterarCargaarcana(-1)">–</button>

			<input type="number" data-dtype="Number"
						 placeholder="0"
						 name="system.attributes.cargaArcana.value"
						 value="{{system.attributes.cargaArcana.value}}"
						 max="{{system.attributes.cargaArcana.max}}">

			<button type="button" class="btn-increment-arcana" onclick="alterarCargaarcana(1)">+</button>

			<span class="sep">/</span>

			<input type="number"
						 placeholder="0"
						 name="system.attributes.cargaArcana.max"
						 value="{{system.attributes.cargaArcana.max}}"
						 disabled>
		</div>
	</li>

	<li class="attribute flexcargas">
		<h4 class="attribute-name box-title-marcial">Carga Marcial</h4>
		<div class="attribute-value multiple flexrow">

			<button type="button" class="btn-decrement-marcial" onclick="alterarCargamarcial(-1)">–</button>

			<input type="number" data-dtype="Number"
						 placeholder="0"
						 name="system.attributes.cargaMarcial.value"
						 value="{{system.attributes.cargaMarcial.value}}"
						 max="{{system.attributes.cargaMarcial.max}}">

			<button type="button" class="btn-increment-marcial" onclick="alterarCargamarcial(1)">+</button>

			<span class="sep">/</span>

			<input type="number"
						 placeholder="0"
						 name="system.attributes.cargaMarcial.max"
						 value="{{system.attributes.cargaMarcial.max}}"
						 disabled>
		</div>
	</li>
</ul>
{{/if}}

<script>
	function alterarCargaarcana(incremento) {
		const input = document.querySelector('input[name="system.attributes.cargaArcana.value"]');
		let valorAtual = parseInt(input.value, 10) || 0;
		valorAtual += incremento;
		if (valorAtual < 0) {
			valorAtual = 0;
		}
		input.value = valorAtual;
	}
	
	function alterarCargamarcial(incremento) {
		const input = document.querySelector('input[name="system.attributes.cargaMarcial.value"]');
		let valorAtual = parseInt(input.value, 10) || 0;
		valorAtual += incremento;
		if (valorAtual < 0) {
			valorAtual = 0;
		}
		input.value = valorAtual;
	}
</script>
