{{#if showResources}}
<ul class="attributes flexrow">
	<li class="attribute flexcol">
		<h4 class="attribute-name box-title">Carga Arcana</h4>
		<div class="attribute-value multiple flexrow">
			<input type="number" data-dtype="Number"
						 placeholder="0"
						 name="system.attributes.cargaArcana.value"
						 value="{{system.attributes.cargaArcana.value}}"
						 max="{{system.attributes.cargaArcana.max}}">

			<span class="sep">/</span>

			<input type="number"
						 placeholder="0"
						 name="system.attributes.cargaArcana.max"
						 value="{{system.attributes.cargaArcana.max}}"
						 disabled>
		</div>
	</li>

	<li class="attribute flexcol">
		<h4 class="attribute-name box-title">Carga Marcial</h4>
		<div class="attribute-value multiple flexrow">
			<input type="number" data-dtype="Number"
						 placeholder="0"
						 name="system.attributes.cargaMarcial.value"
						 value="{{system.attributes.cargaMarcial.value}}"
						 max="{{system.attributes.cargaMarcial.max}}">

			<span class="sep">/</span>

			<input type="number"
						 placeholder="0"
						 name="system.attributes.cargaMarcial.max"
						 value="{{system.attributes.cargaMarcial.max}}"
						 disabled>
		</div>
	</li>
</ul>
{{/if}}