<header class="sheet-header flexrow">
	<section class="header-details flexcol">
		<div class="general-information flexrow">
			<img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" style="height:60px; width:60px; flex: 0 0 60px;"/>
			<h1 class="charname">
				<input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'T20.Name' }}" />
			</h1>
		</div>
		<div class="flexrow">
			<div class="flexcol">
				{{> "systems/tormenta20/templates/actor/parts/abilities.html"}}
	
				{{!-- Header Attributes --}}
				<ul class="attributes summary flexrow">
					{{!-- HP/MP Resources --}}
					{{> "systems/tormenta20/templates/actor/parts/resources.html"}}
					{{!-- Defense --}}
					{{> "systems/tormenta20/templates/actor/parts/defense.html"}}
				</ul>
			</div>
			<div class="traits">
				{{> "systems/tormenta20/templates/actor/parts/traits.html"}}
			</div>
		</div>
	</section>
</header>

<style>
	.traits {
		flex: 0 0 35%;
		font-size: 14px;
	}
	.traits * {
		display: inline!important;
	}
	.traits label {
		font-size: unset;
	}
</style>