<form class="tormenta20 tabbed" autocomplete="off">
	{{!-- Sheet Header --}}
	{{> "systems/tormenta20/templates/actor/parts/sheet-header-tabbed.html"}}
	{{!-- Sheet Tab Navigation --}}
	{{> "systems/tormenta20/templates/partials/nav-bar.html"}}

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Attributes Tab --}}
		<div class="tab attributes flexrow" data-group="primary" data-tab="attributes">
			<div class="attributes-left flexcol">
				{{!-- Abilities --}}
				{{> "systems/tormenta20/templates/actor/parts/abilities.html"}}
			</div>
			<div class="attributes-mid flexcol">
				{{!-- Skills --}}
				{{> "systems/tormenta20/templates/actor/parts/list-skills.html"}}
			</div>
			<div class="attributes-right flexcol">
				{{!-- Extra Resources --}}
				{{#if (or system.resources.shadow) }}
				<div class="resource">
					{{> "systems/tormenta20/templates/actor/parts/resources-extra.html"}}
				</div>
				{{/if}}

				{{!-- Favorites --}}
				{{> "systems/tormenta20/templates/actor/parts/list-favorites.html"}}

				{{!-- Traits --}}
				<div class="traits">
					{{> "systems/tormenta20/templates/actor/parts/traits.html"}}
					<textarea name="system.detalhes.info" rows="10">{{system.detalhes.info}}</textarea>
				</div>
			</div>
		</div>

		{{!-- Inventory Tab --}}
		<div class="tab inventory" data-group="primary" data-tab="inventory">
			<div class="inventory-list">
				{{> "systems/tormenta20/templates/actor/parts/list-weapon.html"}}
				{{> "systems/tormenta20/templates/actor/parts/list-equipment.html"}}
				{{> "systems/tormenta20/templates/actor/parts/list-consumable.html"}}
				{{> "systems/tormenta20/templates/actor/parts/list-loot.html"}}
				{{> "systems/tormenta20/templates/actor/parts/currency.html"}}
				{{> "systems/tormenta20/templates/actor/parts/encumbrance.html"}}
			</div>
		</div>

		{{!-- Powers Tab --}}
		<div class="tab powers" data-group="primary" data-tab="powers">
			{{> "systems/tormenta20/templates/actor/parts/list-powers.html"}}
		</div>

		{{!-- Spells Tab --}}
		<div class="tab spells" data-group="primary" data-tab="spells">
			{{> "systems/tormenta20/templates/actor/parts/list-spells.html"}}
		</div>

		
		{{!-- Biography Tab --}}
		<div class="tab journal flexrow flex-between" data-group="primary" data-tab="journal">
			{{> "systems/tormenta20/templates/actor/parts/journal.html"}}
		</div>

		{{!-- Modifiers Tab --}}
		<div class="tab modifiers" data-group="primary" data-tab="modifiers">
			{{> "systems/tormenta20/templates/actor/parts/modifiers.html"}}
		</div>

		{{!-- Efeitos Tab --}}
		<div class="tab effects" data-group="primary" data-tab="effects">
			{{> "systems/tormenta20/templates/partials/active-effects.html"}}
		</div>
	</section>
</form>