<form class="tormenta20 builder npc" autocomplete="off">
	{{!-- Sheet Header --}}
	{{!-- flags.tormenta20.character-planner --}}
	<header class="sheet-header flexrow">
		<section class="char-info flexcol">
			<h3>{{localize 'T20.FoeCreationGuide'}}</h3>
		</section>
		<section class="char-info flexcol">
			<div class="form-group">
				<label for="Name">
					{{actor.name}}
				</label>
				<label for="Name">
					{{localize 'T20.AbbreviationCR'}}
					{{system.attributes.nd}}
				</label>
			</div>
			<div class="form-group">
				<label for="Name">
					{{system.builder.details.concept}}
				</label>
			</div>
			<div>
				<a class="toggleNPCSheet" style="align-self: center;">Voltar para a Ficha <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
			</div>
		</section>
	</header>
	<header class="sheet-header flexrow">
		{{localize 'T20.FoeCreationGuideDisclaimer'}}
	</header>
	<nav class="flexrow sheet-tabs tabs primary" data-group="primary">
		<a class="item" data-tab="concept" >{{localize 'T20.NPCB_Concept'}}</a>
		<a class="item" data-tab="type" >{{localize 'T20.NPCB_Type'}}</a>
		<a class="item" data-tab="cr" >{{localize 'T20.NPCB_CR'}}</a>
		<a class="item" data-tab="attributes" >{{localize 'T20.NPCB_Attributes'}}</a>
		<a class="item" data-tab="attacks" >{{localize 'T20.NPCB_Attacks'}}</a>
		<a class="item" data-tab="powers" >{{localize 'T20.NPCB_Powers'}}</a>
		<a class="item" data-tab="stats" >{{localize 'T20.NPCB_Traits'}}</a>
		<a class="item" data-tab="loot" >{{localize 'T20.NPCB_Loot'}}</a>
	</nav>
	<section class="sheet-body flexrow" >
		{{!-- CONCEPT --}}
		<div class="tab concept flexrow" data-group="primary" data-tab="concept">
			<div class="left-side flexcol">
				<div class="form-group">
					<label for="Name">
						{{localize 'T20.Name'}}
					</label>
					<input  type="text" name="name" value="{{actor.name}}"/>
				</div>
				<div class="form-group">
					<label for="Name">
						{{localize 'T20.FoeConcept'}}
					</label>
					<input type="text" name="system.builder.details.concept" value="{{system.builder.details.concept}}"/>
				</div>
				<div class="form-group">
					<label for="Name">
						{{localize 'T20.FoeRole'}}
					</label>
					<select name="system.detalhes.role">
						{{#select system.detalhes.role}}
						{{#each config.creatureRoles as |label type|}}
						<option value="{{type}}">{{localize label}}</option>
						{{/each}}
						{{/select}}
					</select>
				</div>
				<p>{{localize 'T20.NPCB_ConceptHint'}}</p>
			</div>
			<div class="right-side flexcol">
				<aside>
					<p>
					{{#if (eq system.detalhes.role 'combatant' )}}
						{{localize 'T20.NPCB_FoeRoleCombatantHint'}}
					{{/if}}
					{{#if (eq system.detalhes.role 'caster' )}}
						{{localize 'T20.NPCB_FoeRoleCasterHint'}}
					{{/if}}
					{{#if (eq system.detalhes.role 'trickster' )}}
						{{localize 'T20.NPCB_FoeRoleTricksterHint'}}
					{{/if}}
					{{#if (eq system.detalhes.role 'lackey' )}}
						{{localize 'T20.NPCB_FoeRoleLackeyHint'}}
					{{/if}}
					{{#if (eq system.detalhes.role 'captain' )}}
						{{localize 'T20.NPCB_FoeRoleCaptainHint'}}
					{{/if}}
					{{#if (eq system.detalhes.role 'boss' )}}
						{{localize 'T20.NPCB_FoeRoleBossHint'}}
					{{/if}}
					{{#if (eq system.detalhes.role 'solo' )}}
						{{localize 'T20.NPCB_FoeRoleSoloHint'}}
					{{/if}}
					{{#if (eq system.detalhes.role 'special' )}}
						{{localize 'T20.NPCB_FoeRoleSpecialHint'}}
					{{/if}}
					</p>
				</aside>
			</div>
			<div></div>
		</div>
		
		{{!-- TYPE --}}
		<div class="tab type flexcol" data-group="primary" data-tab="type">
			<div class=" flexrow ">
				<div class="left-side flexcol">
					<div class="form-group">
						<label for="Name">
							{{localize 'T20.CreatureType'}}
						</label>
						<select name="system.detalhes.tipo">
						{{#select system.detalhes.tipo}}
							{{selectOptions config.creatureTypes selected=system.detalhes.tipo localize=true}}
						{{/select}}
						</select>
					</div>
					<div class="form-group">
						<label for="Name">
							{{localize 'T20.Size'}}
						</label>
						<select name="system.tracos.tamanho">
						{{#select system.tracos.tamanho}}
							{{selectOptions config.actorSizes selected=system.tracos.tamanho localize=true}}
						{{/select}}
						</select>
					</div>
					<label for="Name">
						{{localize 'T20.Movement'}}
					</label>
					{{#each config.movementTypes as |label type|}}
					<div class="form-group">
						<label for="Name">{{localize label}}</label>
						<input  type="number" name="system.attributes.movement.{{type}}" step="1.5" value="{{lookup ../system.attributes.movement type}}"/>
					</div>
					{{/each}}

					<p>{{localize 'T20.NPCB_TypeHint'}}</p>
				</div>
				<div class="right-side flexcol">
					<aside>
						<p>
						{{#if (eq system.detalhes.tipo 'ani' )}}
							{{localize 'T20.CreatureBeastHint'}}
						{{/if}}
						{{#if (eq system.detalhes.tipo 'con' )}}
							{{localize 'T20.CreatureConstructHint'}}
						{{/if}}
						{{#if (eq system.detalhes.tipo 'esp' )}}
							{{localize 'T20.CreatureSpiritHint'}}
						{{/if}}
						{{#if (eq system.detalhes.tipo 'hum' )}}
							{{localize 'T20.CreatureHumanoidHint'}}
						{{/if}}
						{{#if (eq system.detalhes.tipo 'mon' )}}
							{{localize 'T20.CreatureMonstrosityHint'}}
						{{/if}}
						{{#if (eq system.detalhes.tipo 'mor' )}}
							{{localize 'T20.CreatureUndeadHint'}}
						{{/if}}
						</p>
					</aside>
					<aside>
						<table>
							<tr>
								<td>{{localize 'T20.NPCB_Category'}}</td>
								<td>{{localize 'T20.NPCB_SizeNRange'}}</td>
								<td>{{localize 'T20.NPCB_SizeFurtNManeuver'}}</td>
							</tr>
							{{#each config.tableSize.size as | size i | }}
							<tr>
								<td>{{localize (lookup ../config.actorSizes size)}}</td>
								<td>{{lookup ../config.tableSize.grid i}}m</td>
								<td>
									{{numberFormat (lookup ../config.tableSize.stealth i) decimals=0 sign=true}} /
									{{numberFormat (lookup ../config.tableSize.maneuver i) decimals=0 sign=true}}
								</td>
							</tr>
							{{/each}}
						</table>
					</aside>
					<aside>
					</aside>
				</div>
			</div>
			<div class="flexcol">
				<table>
					<tr>
						<td>{{localize 'T20.Movement'}}</td>
						<td>{{localize 'T20.Size'}}</td>
						<td>{{localize 'T20.NPCB_MoveSlow'}}</td>
						<td>{{localize 'T20.NPCB_MoveNormal'}}</td>
						<td>{{localize 'T20.NPCB_MoveFast'}}</td>
					</tr>
				{{#each config.tableMovement.type as | type i | }}
					<tr>
						<td>{{localize (lookup ../config.tableMovement.type i)}}</td>
						<td>{{localize (lookup ../config.tableMovement.size i)}}</td>
						<td>{{lookup ../config.tableMovement.slow i}}m</td>
						<td>{{lookup ../config.tableMovement.normal i}}m</td>
						<td>{{lookup ../config.tableMovement.fast i}}m</td>
					</tr>
				{{/each}}
				</table>
			</div>
			<div></div>
		</div>
		
		{{!-- CR --}}
		<div class="tab cr " data-group="primary" data-tab="cr">
			<p>{{localize 'T20.NPCB_CRHint'}}</p>
			<div class="form-group">
				<label for="Name">
					{{localize 'T20.AbbreviationCR'}}
				</label>
				<input type="text" list="list-nd" name="system.attributes.nd" value="{{system.attributes.nd}}"/>
				<datalist id="list-nd">
					{{#each config.NDparams.cr as | cr i | }}
					<option value="{{cr}}">{{cr}}</option>
					{{/each}}
				</datalist>
			</div>
			<div></div>
		</div>
		
		{{!-- ATTRIBUTES --}}
		<div class="tab attributes flexcol" data-group="primary" data-tab="attributes">
			<p>{{localize 'T20.NPCB_AttributesHint'}}</p>
			<div class="form-group">
				<label for="Name">
					{{localize 'T20.Attack'}}
				</label>
				<i class="{{builder.attrClosestCR.attack.icon}}" title="{{builder.attrClosestCR.attack.title}}"></i>
				<input  type="number" name="system.builder.attributes.attack.value" value="{{system.builder.attributes.attack.value}}"/>
				<label for="Name">
					{{localize 'T20.Damage'}}
				</label>
				<i class="{{builder.attrClosestCR.damage.icon}}" title="{{builder.attrClosestCR.damage.title}}"></i>
				<input  type="text" name="system.builder.attributes.damage.value" value="{{system.builder.attributes.damage.value}}"/>
				<label for="Name">
					{{localize 'T20.Defense'}}
				</label>
				<i class="{{builder.attrClosestCR.defense.icon}}" title="{{builder.attrClosestCR.defense.title}}"></i>
				<input  type="number" name="system.builder.attributes.defense.value" value="{{system.builder.attributes.defense.value}}"/>
			</div>

			<div class="form-group">
				<label for="Name" class="setSaveRank" data-skill="fort">
					<input type="hidden" name="system.builder.attributes.fort.rank" value="{{system.builder.attributes.fort.rank}}"/>
					
					<i class="{{builder.saverankicons.fort}}" title="{{builder.saveranktitle.fort}}"></i>
					{{localize 'T20.SkillFort'}}
				</label>
				<i class="{{builder.attrClosestCR.fort.icon}}" title="{{builder.attrClosestCR.fort.title}}"></i>
				<input  type="number" name="system.builder.attributes.fort.value" value="{{system.builder.attributes.fort.value}}"/>
				<label for="Name" class="setSaveRank" data-skill="refl">
					<input type="hidden" name="system.builder.attributes.refl.rank" value="{{system.builder.attributes.refl.rank}}"/>
					<i class="{{builder.saverankicons.refl}}" title="{{builder.saveranktitle.refl}}"></i>
					{{localize 'T20.SkillRefl'}}
				</label>
				<i class="{{builder.attrClosestCR.refl.icon}}" title="{{builder.attrClosestCR.refl.title}}"></i>
				<input  type="number" name="system.builder.attributes.refl.value" value="{{system.builder.attributes.refl.value}}"/>
				<label for="Name" class="setSaveRank" data-skill="vont">
					<input type="hidden" name="system.builder.attributes.vont.rank" value="{{system.builder.attributes.vont.rank}}"/>
					<i class="{{builder.saverankicons.vont}}" title="{{builder.saveranktitle.vont}}"></i>
					{{localize 'T20.SkillVont'}}
				</label>
				<i class="{{builder.attrClosestCR.vont.icon}}" title="{{builder.attrClosestCR.vont.title}}"></i>
				<input  type="number" name="system.builder.attributes.vont.value" value="{{system.builder.attributes.vont.value}}"/>
			</div>
			<div class="form-group">
				<label for="Name">
					{{localize 'T20.HP'}}
				</label>
				<i class="{{builder.attrClosestCR.hp.icon}}" title="{{builder.attrClosestCR.hp.title}}"></i>
				<input  type="number" name="system.builder.attributes.hp.value" value="{{system.builder.attributes.hp.value}}"/>
				<label for="Name">
					{{localize 'T20.DifficultClass'}}
				</label>
				<i class="{{builder.attrClosestCR.dc.icon}}" title="{{builder.attrClosestCR.dc.title}}"></i>
				<input  type="number" name="system.builder.attributes.dc.value" value="{{system.builder.attributes.dc.value}}"/>
				<label for="Name">
					{{localize 'T20.MP'}}
				</label>
				<i class=""></i>
				<input  type="number" name="system.builder.attributes.mp.value" value="{{system.builder.attributes.mp.value}}"/>
			</div>
			
			<table class="cr-table">
				<thead>
					<tr>
						{{#each config.NDparams.labels as | label i |}}
							<th>{{localize label}}</th>
						{{/each}}
					</tr>
				</thead>
				<tbody>
					{{#each config.NDparams.cr as | cr i |}}
					<tr class="pat-{{lookup ../config.NDparams.pat i }} {{#if (eq ../system.attributes.nd cr)}}active{{/if}}" data-cr="{{cr}}">
						<td></td>
						<td class="setParam" data-param="all">
								{{lookup ../config.NDparams.cr i }}
						</td>
						<td class="setParam {{#if (eq ../builder.attrClosestCR.attack.clos i)}}active{{/if}}" data-param="attack">{{lookup ../config.NDparams.attack i }}, x{{lookup ../config.NDparams.attackqty i }}</td>
						<td class="setParam {{#if (eq ../builder.attrClosestCR.damage.clos i)}}active{{/if}}" data-param="damage">{{lookup ../config.NDparams.damage i }}</td>
						<td class="setParam {{#if (eq ../builder.attrClosestCR.defense.clos i)}}active{{/if}}" data-param="defense">{{lookup ../config.NDparams.defense i }}</td>
						<td class="setParam {{#if (eq ../builder.attrClosestCR.hp.clos i)}}active{{/if}}" data-param="hp">{{lookup ../config.NDparams.hp i }}</td>
						<td class="setParam {{#if (eq ../builder.attrClosestCR.skills.clos i)}}active{{/if}}" data-param="skills">+{{lookup ../config.NDparams.topskill i }} / +{{lookup ../config.NDparams.botskill i }}</td>
						<td class="setParam {{#if (eq ../builder.attrClosestCR.topsave.clos i)}}active{{/if}}" data-param="topsave">{{lookup ../config.NDparams.topsave i }}</td>
						<td class="setParam {{#if (eq ../builder.attrClosestCR.midsave.clos i)}}active{{/if}}" data-param="midsave">{{lookup ../config.NDparams.midsave i }}</td>
						<td class="setParam {{#if (eq ../builder.attrClosestCR.botsave.clos i)}}active{{/if}}" data-param="botsave">{{lookup ../config.NDparams.botsave i }}</td>
						<td class="setParam {{#if (eq ../builder.attrClosestCR.dc.clos i)}}active{{/if}}" data-param="dc">{{lookup ../config.NDparams.dc i }}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			<div></div>
		</div>
		
		{{!-- ATTACKS --}}
		<div class="tab attacks " data-group="primary" data-tab="attacks">
			<p>{{localize 'T20.NPCB_AttacksHint'}}</p>
			<ol class="item-list">
				<li class="item flexrow item-header">
					<div class="item-name flex2" >{{ localize 'T20.Weapons'}}</div>
					<div class="item-attack">{{ localize 'T20.Attack'}}</div>
					<div class="item-dice">{{ localize 'T20.Damage'}}</div>
					<div class="item-qty">{{ localize 'T20.QuantityAbbr'}}</div>
					<div class="item-controls"><a class="item-control item-create" title="{{localize 'T20.Add'}} {{localize 'T20.Weapon'}}" data-type="arma"><i class="fas fa-plus"></i> {{localize 'T20.Search'}}</a></div>
				</li>
				{{#each actor.inventario.arma.items as |item id|}}
					<li class="item flexrow" data-item-id="{{item.id}}">
						<div class="item-name flexrow rollable flex2">
							<div class="item-image" tabindex="0" role="button" aria-label="{{item.name}}" style="background-image: url('{{item.img}}')"></div>
							<label>{{item.name}}</label>
						</div>
						<div class="item-attack">
							<input type="number" class="setWeaponRoll" data-type="ataque" value="{{item.labels.npcattack}}">
						</div>
						<div class="item-dice">
							<input type="text" class="setWeaponRoll" data-type="dano" value="{{item.labels.npcdamage}}">
						</div>
						<div class="item-qty">
							<input type="text" class="setWeaponQty" value="{{item.system.qtd}}">
						</div>
						<div class="item-controls">
							<a class="item-control item-edit" title="{{localize 'T20.Edit'}}"><i class="fas fa-edit"></i></a>
							<a class="item-control item-delete" title="{{localize 'T20.Delete'}}"><i class="fas fa-trash"></i></a>
						</div>
					</li>
				{{/each}}
				<li class="item flexrow item-header">
					<div class="item-name flex2" ></div>
					<div class="item-attack">{{localize 'T20.NPCB_MeanDamage'}} ({{builder.meanDamage.target}}):</div>
					<div class="item-dice" data-tooltip="{{localize 'T20.NPCB_MeanDamageHint'}}">{{localize 'T20.Current'}}: {{builder.meanDamage.current}}</div>
					<div class="item-controls"></div>
				</li>
			</ol>
			<div></div>
		</div>

		{{!-- FEATURES --}}
		<div class="tab powers " data-group="primary" data-tab="powers">
			<p>{{localize 'T20.NPCB_PowersHint'}}</p>
			<div class="traits">
				{{> "systems/tormenta20/templates/actor/parts/traits.html"}}
			</div>

			{{> "systems/tormenta20/templates/actor/parts/list-powers.html"}}

			{{> "systems/tormenta20/templates/actor/parts/list-spells.html"}}
			<div></div>
		</div>

		{{!-- ABILITIES & SKILLS --}}
		<div class="tab stats " data-group="primary" data-tab="stats">
			<p>{{localize 'T20.NPCB_TraitsHint'}}</p>
			<div class="form-group">
				{{#each system.atributos as |atr key|}}
					<label for="">
						{{localize (lookup ../config.atributosAbr key)}}
					</label>
					<input  type="number" name="system.atributos.{{key}}.base" value="{{atr.base}}"/>
				{{/each}}
			</div>
			<div class="flexrow">
				<ul class="skills-list flexcol">
					<li class="skill item-header flexrow">
						<div class="item-name">{{localize 'T20.Skill'}}</div>
						<div class="item-value"></div>
						<div class="item-trained">{{localize 'T20.Trained'}}</div>
						<div class="item-bonus">{{localize 'T20.Bonus'}}</div>
					</li>
					{{#each skills as | skill key |}}
						{{#unless (or (gt key 12) (eq skill.key 'luta') (eq skill.key 'pont') (eq skill.key 'fort') (eq skill.key 'refl') (eq skill.key 'vont') (eq skill.key 'defe') (eq skill.key 'ocul') ) }}
						<li class="skill item flexrow">
							<div class="item-name">{{skill.label}}</div>
							<div class="item-value">{{skill.value}}</div>
							<div class="item-trained">
								<a class="training-toggle skill-training" title="{{ localize 'T20.Trained'}}"><i class="{{skill.symbol}}"></i></a>
								<!-- <input type="checkbox" name="system.pericias.{{key}}.treinado" value="1" {{checked skill.treinado}} /> -->
							</div>
							<div class="item-bonus">
								<input  type="number" name="system.pericias.{{key}}.outros" value="{{skill.outros}}"/>
							</div>
						</li>
						{{/unless}}
					{{/each}}
				</ul>
				<ul class="skills-list flexcol">
					<li class="skill item-header flexrow">
						<div class="item-name">{{localize 'T20.Skill'}}</div>
						<div class="item-value"></div>
						<div class="item-trained">{{localize 'T20.Trained'}}</div>
						<div class="item-bonus">{{localize 'T20.Bonus'}}</div>
					</li>
					{{#each system.pericias as | skill key |}}
						{{#unless (or (lt @index 13) (eq key 'luta') (eq key 'pont') (eq key 'fort') (eq key 'refl') (eq key 'vont') (eq key 'defe') (eq key 'ocul') (eq key '_pc0')  (eq key '') ) }}
						<li class="skill item flexrow">
							<div class="item-name">{{skill.label}}</div>
							<div class="item-value">{{skill.value}}</div>
							<div class="item-trained">
								<input  type="checkbox" name="system.pericias.{{key}}.treinado" value="1" {{checked skill.treinado}} />
							</div>
							<div class="item-bonus">
								<input  type="number" name="system.pericias.{{key}}.outros" value="{{skill.outros}}"/>
							</div>
						</li>
						{{/unless}}
					{{/each}}
				</ul>
			</div>
			<div></div>
		</div>

		{{!-- LOOT --}}
		<div class="tab loot " data-group="primary" data-tab="loot">
			<p>{{localize 'T20.NPCB_LootHint'}}</p>
			<div class="form-group">
				<label for="Name">
					{{localize 'T20.Treasure'}}
				</label>
				<select name="system.builder.details.treasure">
					{{#select system.builder.details.treasure}}
					<option value="">{{localize 'T20.None'}}</option>
					<option value="half">{{localize 'T20.Half'}}</option>
					<option value="default">{{localize 'T20.Default'}}</option>
					<option value="double">{{localize 'T20.Double'}}</option>
					{{/select}}
				</select>
			</div>
			<div class="inventory-list">
				{{> "systems/tormenta20/templates/actor/parts/list-general.html"}}
			</div>
			<div></div>
		</div>
	</section>
</form>
