<form autocomplete="off" onsubmit="event.preventDefault();">
	<ul class="trait-list" style="columns:{{columns}};">
		{{#each choices as |choice key|}}
		<li>
			<label class="checkbox">
				<input type="checkbox" name="{{key}}" data-dtype="Boolean" {{checked choice.chosen}}>
				{{localize choice.label}}
			</label>
		</li>
			{{#if choice.choices }}
			<ul class="trait-list">
				{{#each choice.choices as |schoice skey|}}
				<li>
					<label class="checkbox">
						<input type="checkbox" name="{{skey}}" data-dtype="Boolean" {{checked schoice.chosen}}>
						{{localize schoice.label}}
					</label>
				</li>
				{{/each}}
			</ul>
			{{/if}}
		{{/each}}
	</ul>
	{{#if allowCustom}}
	<div class="form-group stacked">
		<label>{{ localize 'T20.Special' }} ({{ localize 'T20.CommaSeparated' }})</label>
		<input type="text" name="custom" value="{{custom}}" data-dtype="String" />
	</div>
	{{/if}}
	<button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize 'T20.Submit' }}</button>
</form>